// Cores
$color-black: #000000;
$color-dark-blue: #1a3764;
$color-blue-alt: #4666c0;
$color-blue-medium: #354780;
$primary-color: #e8ecf0;
$secondary-color: #010102;

$color-gray-dark:     #2b2f36;   // Cinza escuro neutro, ótimo para fundos ou tipografia
$color-gray-medium:   #5a5f6b;   // Cinza médio para bordas ou elementos secundários
$color-blue-light:    #7d96e8;   // Azul claro para hover, links ou destaques
$color-cyan-soft:     #6fc1e8;   // Ciano suave para contraste ou ações secundárias
$accent-color:        #f0b429;   // Um tom âmbar para contrastar com o azul e chamar atenção


$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-large: 30px;
