<nav class="sidebar">
      <img src="ERP.png" class="logo" alt="">

  <ul class="sidebar-menu">

    <li><app-selector-button [link]="'/dashboard'" [label]="dashboard">
  <mat-icon icon>dashboard</mat-icon>
</app-selector-button>
</li>

    <li><app-selector-button [link]="'/enterprise'" [label]="gerenciarEmpresas">
  <mat-icon icon>business</mat-icon>
</app-selector-button>
</li>

    <li><app-selector-button [link]="'/supplier'" [label]="gerenciarFornecedores">
  <mat-icon icon>person</mat-icon>
</app-selector-button>
</li>
  </ul>
</nav>

