// 1. Sempre os @use primeiro
@use '@angular/material' as mat;
@use './styles/mixin.scss';
@use './styles/variables.scss';

// 2. Agora sim, aplica o tema do Angular Material
@include mat.theme((
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: Roboto,
  density: 0,
));

// 3. Regras globais do app
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

.app-container {
  height: 100%;
}

.main-content {
  // teu conteúdo
}
