@use '../../../../styles/mixin.scss' as mixin;
@use '../../../../styles/variables.scss' as variables;


.action-button {
  @include mixin.big-font;
  display: flex;
  justify-content: start;
  gap: 4px;
  align-items: center;
  background-color: variables.$color-dark-blue;
  font-size: variables.$font-size-small;
  color: variables.$primary-color;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-3px);
    transform: scale(1.05);
    text-shadow: 1px 1px 2px rgb(32, 31, 31);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: variables.$color-gray-dark;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
  }


}
